.DS_Store
Thumbs.db

.idea/
.vscode/

backend/.venv/
backend/__pycache__/
backend/**/*.pyc
backend/sessions/

frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages
frontend/build/
frontend/.idea/
frontend/.metadata

*.log
